<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:targetApi="s" >
        <activity
            android:name=".UserAdapter"
            android:exported="false" />
        <activity
            android:name=".InboxActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Navigation"
            android:exported="false"
            android:theme="@style/Theme.NavigationAndBottom" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".HistoryCert"
            android:exported="false" />
        <activity
            android:name=".MathCert"
            android:exported="false" />
        <activity
            android:name=".ScienceCert"
            android:exported="false" />
        <activity
            android:name=".FilipinoCert"
            android:exported="false" />
        <activity
            android:name=".EnglishCert"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.LoginSignupSWM" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.LoginSignupSWM" />
        <activity
            android:name=".NoteList"
            android:exported="false" />
        <activity
            android:name=".NoteEdit"
            android:exported="false" />
        <activity
            android:name=".NoteAdd"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityResultHistory"
            android:exported="false" />
        <activity
            android:name=".ActivityResultMath"
            android:exported="false" />
        <activity
            android:name=".ActivityResultEnglish"
            android:exported="false" />
        <activity
            android:name=".ActivityResultScience"
            android:exported="false" />
        <activity
            android:name=".HistoryTopic"
            android:exported="false" />
        <activity
            android:name=".HistoryTopicQuiz"
            android:exported="false" />
        <activity
            android:name=".MathTopicQuiz"
            android:exported="false" />
        <activity
            android:name=".ScienceTopicQuiz"
            android:exported="false" />
        <activity
            android:name=".EnglishTopicQuiz"
            android:exported="false" />
        <activity
            android:name=".MathTopic"
            android:exported="false" />
        <activity
            android:name=".ScienceTopic"
            android:exported="false" />
        <activity
            android:name=".EnglishTopic"
            android:exported="false" />
        <activity
            android:name=".HistoryContent"
            android:exported="false" />
        <activity
            android:name=".MathContent"
            android:exported="false" />
        <activity
            android:name=".ScienceContent"
            android:exported="false" />
        <activity
            android:name=".EnglishContent"
            android:exported="false" />
        <activity
            android:name=".FilipinoContent"
            android:exported="false" />
        <activity
            android:name=".FilipinoVideoTopic"
            android:exported="false" />
        <activity
            android:name=".TryAgain"
            android:exported="false" />
        <activity
            android:name=".ActivityResultFilipino"
            android:exported="false" />
        <activity
            android:name=".FilipinoTopicQuiz"
            android:exported="false" />
        <activity
            android:name=".FilipinoTopic"
            android:exported="false" />
    </application>

</manifest>